:root {
  /*color scheme*/
  --header-footer-bg:#2d327d;
  --header-footer-text:#ffffff;
  --body-bg:#dbe0f5;
  --body-text:#000000;

/*Typography*/
--h1-size:2.6rem;
--h2-size:2.0rem;
--body-size:1.6rem;
--menu-size:1.8rem;

/*spacing*/
--spacing-sm:0.5rem;
--spacing-md:1rem;
--spacing-lg:2rem;

/*other variables*/
--border-radius:8px;
--transition:all 0.3s ease;

}
